{:paths ["src"]
 :deps {;; https://docs.datomic.com/on-prem/peer/integrating-peer-lib.html
        com.datomic/datomic-pro {:mvn/version "1.0.6397"}
        ;; for easy logging to stdout https://mvnrepository.com/artifact/org.slf4j/slf4j-simple
        org.slf4j/slf4j-simple {:mvn/version "1.7.36"}}}
